<h2>Hola <%= nombre || "amigo" %> 🌿</h2>
<p>Tu recordatorio de riego ha sido registrado correctamente.</p>
<p><b>Planta:</b> <%= plantaId %></p>
<p><b>Fecha:</b> <%= dia %> <b>Hora:</b> <%= hora %></p>
<p>¡Nos vemos pronto! 💧</p>
